<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833827423603-nvaevpa9i4popcnt7s10a5362btrsm07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833827423603-nvaevpa9i4popcnt7s10a5362btrsm07</string>
	<key>API_KEY</key>
	<string>AIzaSyDL8YZ6TnMRRSmuk1vwzmdfQ-qJsARc9qY</string>
	<key>GCM_SENDER_ID</key>
	<string>833827423603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joeljossie.lendr</string>
	<key>PROJECT_ID</key>
	<string>lendr-3e47b</string>
	<key>STORAGE_BUCKET</key>
	<string>lendr-3e47b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833827423603:ios:a3613738a71b52deee3106</string>
</dict>
</plist>